* {
  margin: 0;
  padding: 0;

}
body {


  font-family: 'Poppins', sans-serif;
}
.wrapper {
  width: 1170px;
  margin: auto;
}
    <style>
        * 
.nav-area {
    float: right;
    list-style: none;
    margin-top: 45px;
}
.background {
        background: black;
        background-blend-mode: darken;
        background-size: cover;
    }

.nav-area li {
    display: inline-block;
    background: #333;
    background-blend-mode: darken;
    background-size: cover;

}
.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;

}
.nav-area li a:hover {
    background: #fff;
    color: #333;

}

.footer{
  background:#333;
  margin-top: 450px;

}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  gap:5rem;
}

.footer .box-container .box{
    padding: 8px 8px;

  flex:5 5 25rem;
}

.footer .box-container .box h3{
  font-size: 20px;
  text-align: justify;
  padding: 15px 30px;
  color:#fff;
}
.footer .box-container .box h4{
  font-size: 20px;
  text-align: justify;
  padding: 15px 20px;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 20px;
  padding: 15px 30px;
  color:#eee;
}

.footer .box-container .box a{
  display: block;
  font-size: 20px;
  padding: 8px 30px;
  color:#eee;
}

.footer .box-container .box a:hover{
  color:#87CEEB;
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
    padding: 8px 8px;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: normal;
  color:#fff;
  border-top: .2rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color: #87CEEB;
}
.button{
  text-align: center;
    padding: 8px 8px;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: normal;
}
.welcome-textto
{
  position: absolute;
  width: 550px;
  height: 300px;
  margin: 0% 31%;
  text-align: center;
  padding: 8px 8px;
  line-height: 60px;
  border: 6px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 540px;
  display: inline-block;
  font-weight: bolder;
  background: #333;
}














    </style>

    